spring:
    application:
        name: cf-explorer-aggregator
    flyway:
        locations: classpath:db/store/{vendor}
        out-of-order: true
    apiPrefix: /api/v1
    jpa:
        hibernate:
            ddl-auto: update
    datasource:
      url: jdbc:${DB_DRIVER:postgresql}://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:exploreragg}?currentSchema=${DB_SCHEMA:exploreragg}
      username: ${DB_USER:exploreragg}
      password: ${DB_PASSWORD:exploreragg}
server:
    port: ${PORT:8080}

################## Yaci Store configuration ###########

store:
    cardano:
        host: ${CARDANO_NODE_HOST:backbone.mainnet.cardanofoundation.org}
        port: ${CARDANO_NODE_PORT:3001}
        protocol-magic: ${PROTOCOL_MAGIC:764824073}
    executor:
        enable-parallel-processing: true
        block-processing-threads: 15
        event-processing-threads: 30
        blocks-batch-size: 200
        blocks-partition-size: 10
        use-virtual-thread-for-batch-processing: true
        use-virtual-thread-for-event-processing: true
    core:
        enabled: ${INDEXER_ENABLED:true}

################## Aggregation Configuration ###########
aggregation:
    modules:
        addressTxCount-enabled: ${AGGREGATOR_ADDRESS_TX_COUNT_ENABLED:true}
        poolaggregation-enabled: ${POOL_AGGREGATION_ENABLED:true}
        uniqueAccountCount-enabled: ${AGGREGATOR_UNIQUE_ACCOUNT_ENABLED:true}
    configuration:
        addressTxCount:
            Safe-Slot-Distance: 100
        poolstatus:
            # Default: A pool must mint at least one block in the last 3 epochs to be considered active
            active-pool-threshold: ${ACTIVE_POOL_THRESHOLD:3}